<input type="text" class="form-control form-feild" id="first_name" value="{{this.first_name}}" name="first_name"
  placeholder="First Name">
<input type="text" class="form-control form-feild" id="last_name" value="{{this.last_name}}" name="last_name"
  placeholder="Last Name">
<input type="email" class="form-control form-feild" id="email" value="{{this.email}}" name="email" placeholder="Email">
<input type="tel" class="form-control form-feild" id="phone" value="{{this.phone}}" name="phone" placeholder="Phone Number">
<textarea type="text" class="form-control form-feild" placeholder="Leave a comment here" id="comments" name="comments" rows="4"
style="height: 100px">{{this.comments}}</textarea>

<div class="form-actions">
  <button type="submit" class="btn btn-success">Submit</button>
  <a href="/" type="button" class="form-button">Back</a>
</div>
